/* atomos */
ul {
  list-style: none;
  padding: 0; }

a {
  color: #5bd9b3;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.4s; }

a:hover {
  color: #DE19FF;
  transition-property: all;
  transition-duration: 0.4s; }

.text-center {
  text-align: center; }

.animated {
  transition-property: all;
  transition-duration: 0.4s; }

.vertical {
  top: 50%;
  transform: translateY(-50%); }

.centrado {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.wire-wrapper {
  fill: none;
  stroke: #666;
  stroke-width: 2;
  width: 100%;
  max-height: 100%; }

.wire-wrapper-2 {
  fill: none;
  stroke: #666;
  stroke-width: 2;
  width: 100%;
  max-height: 100%; }

.container__svg {
  position: relative;
  width: 100%;
  height: 460px; }

.container__svg__mini {
  position: relative;
  width: 60%;
  height: 200px;
  margin: 90px auto 10px; }

.container__svg__mini--2 {
  position: relative;
  width: 60%;
  height: 300px;
  margin: 90px auto 10px; }

.horizontalRow {
  width: 1200px;
  margin: 0 auto;
  min-height: 20px;
  overflow: hidden; }

@media (max-width: 1000px) {
  .horizontalRow {
    width: 96%; } }

.ancho-high {
  width: 1600px; }

@media (max-width: 1600px) {
  .ancho-high {
    width: 1200px; } }

@media (max-width: 1200px) {
  .ancho-high {
    width: 1000px; } }

.minWidth {
  width: 900px; }

@media (max-width: 768px) {
  .ancho-high {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px; }
  .minWidth {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .container__svg {
    height: 320px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura PT Bold"; }

/* fin atomos */
/* layout elements */
html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Proxima Nova Lt"; }

.wrapper {
  height: inherit;
  overflow: visible;
  position: relative; }

.fixed {
  position: fixed;
  height: inherit;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 200;
  background: url(../../images/code.jpg) no-repeat center center;
  background-size: cover; }
  .fixed .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.85); }
  .fixed .overlay::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 49.4%;
    left: 49.4%;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    transform: rotate(-45deg);
    box-shadow: -1px -1px 25px rgba(0, 0, 0, 0.3); }
  .fixed .overlay::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 100%;
    height: 100%;
    background-color: #5bd9b3;
    transform: rotate(-45deg); }
  @media (max-width: 1200px) {
    .fixed .overlay::after {
      top: 65.4%;
      left: 65.4%; }
    .fixed .overlay::before {
      top: 64%;
      left: 64%; } }
  @media (max-width: 700px) {
    .fixed .overlay::after {
      top: 82.4%;
      left: 82.4%; }
    .fixed .overlay::before {
      top: 81%;
      left: 81%; } }
  .fixed .fixed__content {
    position: absolute;
    color: #fff;
    z-index: 400;
    height: 100%;
    overflow: hidden; }
    .fixed .fixed__content h2.fixed__content__name {
      position: relative;
      text-transform: uppercase;
      font-size: 120px;
      margin: 0; }
      .fixed .fixed__content h2.fixed__content__name span {
        display: block;
        line-height: 0.05em; }
      .fixed .fixed__content h2.fixed__content__name strong {
        display: inline-block;
        position: relative;
        font-weight: normal;
        font-family: "Proxima Nova Lt";
        font-size: 20px;
        text-transform: none;
        opacity: 0.6;
        margin-left: 80px;
        padding-top: 18px;
        margin-top: 15px; }
        .fixed .fixed__content h2.fixed__content__name strong:before {
          display: block;
          position: absolute;
          width: 40%;
          left: 0;
          top: 0;
          content: '';
          border-top: 1px solid #5bd9b3; }
    .fixed .fixed__content .fixed__content__link {
      position: absolute;
      right: 20%;
      bottom: 20%;
      height: 88px;
      color: #fff;
      background: #5bd9b3;
      transform: translate(50%, 50%);
      line-height: 88px;
      font-size: 24px;
      padding: 0 34px 0 24px;
      cursor: pointer; }
      .fixed .fixed__content .fixed__content__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        margin-left: -49px;
        border-style: solid;
        border-width: 0 0 88px 50px;
        border-color: transparent transparent #5bd9b3 transparent;
        transition-property: all;
        transition-duration: 0.4s; }
      .fixed .fixed__content .fixed__content__link:hover {
        background: #fff;
        color: #5bd9b3; }
        .fixed .fixed__content .fixed__content__link:hover:before {
          border-color: transparent transparent #fff transparent;
          transition-property: all;
          transition-duration: 0.4s; }
    @media (max-width: 1200px) {
      .fixed .fixed__content .fixed__content__link {
        font-size: 16px; }
      .fixed .fixed__content h2.fixed__content__name {
        margin-left: 20px; } }
    @media (max-width: 768px) {
      .fixed .fixed__content .fixed__content__link {
        right: 30%; }
      .fixed .fixed__content h2.fixed__content__name {
        margin-left: 20px; } }
    @media (max-width: 700px) {
      .fixed .fixed__content .fixed__content__link {
        bottom: 10%;
        height: initial;
        line-height: 1.5em;
        margin: 0;
        padding: 10px;
        right: 50%;
        text-align: center;
        display: none; }
        .fixed .fixed__content .fixed__content__link:before {
          display: none; }
      .fixed .fixed__content h2.fixed__content__name {
        line-height: 1em;
        font-size: 80px;
        text-align: center;
        margin-left: 0; }
        .fixed .fixed__content h2.fixed__content__name span {
          line-height: 1em; }
        .fixed .fixed__content h2.fixed__content__name strong {
          margin-left: 0;
          line-height: 1.3em; }
          .fixed .fixed__content h2.fixed__content__name strong:before {
            left: 50%;
            transform: translateX(-50%); } }

header {
  position: fixed;
  z-index: 300;
  left: 50%;
  top: 0;
  width: 96%;
  transform: translateX(-50%);
  color: #fff;
  overflow: visible;
  top: 25px; }
  header .menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 66px; }
    header .menu .menu__lista {
      position: relative;
      float: right;
      height: 66px;
      opacity: 0;
      margin: 0;
      margin-right: -200px; }
      header .menu .menu__lista li {
        display: block;
        position: relative;
        float: left;
        margin: 0 6px; }
        header .menu .menu__lista li a {
          display: block;
          position: relative;
          color: #fff;
          text-transform: uppercase;
          line-height: 46px;
          padding: 0 24px;
          border-radius: 4px;
          margin: 10px 0;
          font-size: 12px; }
        header .menu .menu__lista li a:hover {
          color: #fff;
          background-color: #5bd9b3; }
      header .menu .menu__lista li:last-child {
        margin-right: 0; }
    header .menu .menu__lista.activated {
      opacity: 1;
      margin-right: 0; }
    @media (max-width: 700px) {
      header .menu .menu__lista {
        margin-left: -200px;
        position: absolute;
        left: 0;
        top: 80px;
        float: none;
        clear: both; }
        header .menu .menu__lista li {
          float: left;
          clear: both;
          width: 130px;
          height: 55px; }
      header .menu .menu__lista.activated {
        margin: 0; }
        header .menu .menu__lista.activated li a {
          background: #5bd9b3; } }
    header .menu .menu__icon {
      display: block;
      position: relative;
      float: left;
      height: 66px;
      width: 66px;
      left: 0;
      top: 0;
      overflow: hidden; }
      header .menu .menu__icon:hover span.menu__icon__background {
        background: #DE19FF; }
    header .menu h1.menu__logo {
      position: relative;
      float: left;
      font-family: "Proxima Nova Lt";
      font-weight: normal;
      margin: 0 0 0 0px;
      line-height: 66px;
      font-size: 26px;
      opacity: 0; }
    header .menu span.fa {
      display: block;
      position: relative;
      float: left;
      font-size: 32px;
      line-height: 66px;
      width: 66px;
      z-index: 20;
      color: inherit;
      left: 0;
      top: 0;
      cursor: pointer; }
    header .menu span.menu__icon__background {
      display: block;
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      border-radius: 100%;
      background: #5bd9b3;
      z-index: 10; }
  header .menu.internas .menu__icon span.fa {
    color: #5bd9b3; }
  header .menu.internas .menu__logo {
    color: #797979; }
  header .menu.internas .menu__lista li a {
    background: #5bd9b3; }
    header .menu.internas .menu__lista li a:hover {
      background: #DE19FF; }
  header .menu.internas.activated .menu__icon span.fa {
    color: #fff; }
  header .menu.activated span.fa {
    color: #fff; }
  header .menu.activated span.menu__icon__background {
    width: 66px;
    height: 66px; }
  header .menu.activated h1.menu__logo {
    opacity: 1;
    margin-left: 25px; }
  header .menu.activated.black h1 {
    color: #797979; }
  header .menu.activated.black .menu__lista {
    display: block; }
    header .menu.activated.black .menu__lista li a {
      color: #797979;
      background-color: #fff; }
      header .menu.activated.black .menu__lista li a:hover {
        background-color: #5bd9b3;
        color: #fff; }
  @media (max-width: 700px) {
    header .menu.activated.black h1 {
      margin-left: 12px;
      padding: 0 14px;
      border-radius: 4px;
      background: #fff; }
    header .menu.activated.black .menu__lista {
      position: absolute;
      left: 0;
      top: 80px;
      float: none;
      clear: both; }
      header .menu.activated.black .menu__lista li {
        float: left;
        clear: both;
        width: 130px;
        height: 55px; } }

@media (max-width: 768px) {
  header {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px; } }

.content {
  position: relative;
  top: 100%;
  min-height: 50%;
  overflow: hidden;
  background: #f5f5f5;
  z-index: 250;
  left: 0;
  top: 0; }
  .content p {
    font-size: 17px;
    line-height: 1.8em; }
  .content .content__negro {
    background: #000; }
  .content .intereses {
    position: relative;
    width: 98%;
    margin: 40px auto;
    font-size: 20px; }
    .content .intereses li {
      display: block;
      position: relative;
      min-height: 20px;
      overflow: hidden;
      margin-bottom: 10px;
      line-height: 32px; }
      .content .intereses li span {
        font-size: 8px;
        color: #5bd9b3;
        line-height: 32px;
        margin-top: -3px;
        display: inline-block;
        position: relative; }
  .content p.sending-mail {
    color: #8b8b8b;
    font-size: 32px;
    margin: 45px 0 10px;
    line-height: 1.4em;
    font-family: "Avenir LT Std 35 Light";
    opacity: 1;
    width: 100%;
    float: none;
    clear: both;
    /* found this online --- it prevents the user from being able to make a (visible) newline */ }
    .content p.sending-mail span {
      outline: 0;
      color: #fff;
      margin-right: 8px; }
    .content p.sending-mail [contenteditable="true"]:active,
    .content p.sending-mail [contenteditable="true"]:focus {
      border: none;
      outline: none;
      appearance: textfield; }
    .content p.sending-mail [contenteditable=true]:empty:before {
      content: '';
      color: #fff;
      outline: 0;
      border-bottom: 1px dashed #8b8b8b;
      padding: 0 25px; }
    .content p.sending-mail [contenteditable=true]:focus:before {
      content: '';
      color: #fff;
      outline: 0;
      border-bottom: 1px solid #8b8b8b; }
    .content p.sending-mail [contenteditable=true] br {
      display: none; }
  @media (max-width: 700px) {
    .content p.sending-mail {
      font-size: 26px; } }
  .content p.sending-mail.oculted {
    opacity: 0; }
  .content p.alert {
    display: inline-block;
    color: #fff;
    background: #5bd9b3;
    border-radius: 15px;
    line-height: 38px;
    box-sizing: border-box;
    padding: 0 24px 0 18px;
    font-family: "Avenir LT Std 35 Light";
    padding-top: 5px;
    clear: both;
    float: left;
    margin: 5px 0;
    display: none;
    margin-bottom: 35px; }
    .content p.alert span {
      margin-right: 4px;
      font-size: 18px;
      cursor: pointer; }
  .content p.alert.active {
    display: inline-block;
    opacity: 0; }
  .content p.alert.active.show {
    opacity: 1; }
  .content .slider--mini {
    position: relative;
    width: 98%;
    margin: 20px auto;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); }
    .content .slider--mini li {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      .content .slider--mini li img {
        display: block;
        position: absolute;
        width: 100%;
        height: auto; }
  .content .white-paragraph {
    color: #fff;
    width: 100%;
    clear: both;
    float: none; }
  .content .linkExtern {
    display: inline-block;
    margin: 40px 0 40px 0;
    padding: 10px 16px;
    font-size: 14px;
    font-family: "Avenir LT Std 35 Light";
    color: #797979;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    border-radius: 15px;
    background: #fff; }
    .content .linkExtern span {
      font-size: 12px;
      transform: rotate(0deg);
      transition-property: transform;
      transition-duration: 0.4s; }
    .content .linkExtern:hover {
      background: #797979;
      color: #fff; }
      .content .linkExtern:hover span {
        transform: rotate(360deg);
        color: #fff;
        transition-property: transform;
        transition-duration: 0.4s; }
  .content .linkExtern.green:hover {
    background: #5bd9b3; }
  .content .linkExtern.hidden {
    opacity: 0; }
  .content .linkExtern.hidden.close {
    display: none; }
  .content .works {
    position: relative;
    margin: 30px 0;
    width: 100%;
    min-height: 20px;
    overflow: hidden;
    padding: 0; }
    .content .works .works__item {
      position: relative;
      display: block;
      float: left;
      width: 50%;
      height: 180px;
      overflow: hidden; }
      .content .works .works__item a {
        display: block;
        position: relative;
        width: 94%;
        height: 92%;
        margin: 3% 3%;
        background: #f5f5f5;
        overflow: hidden;
        box-sizing: border-box;
        border: 3px solid #5bd9b3; }
        .content .works .works__item a:hover {
          border: 2px solid #8b8b8b; }
          .content .works .works__item a:hover img {
            transform: scale(1.1, 1.1); }
        .content .works .works__item a img {
          opacity: 1;
          display: block;
          position: relative;
          width: 100%;
          height: auto; }
        .content .works .works__item a img[data-src] {
          opacity: 0; }
  @media (max-width: 700px) {
    .content .works .works__item {
      width: 100%; } }
  .content .content__titles {
    font-size: 60px;
    width: 60%;
    line-height: 0.9em;
    text-transform: uppercase;
    margin-bottom: 0; }
    .content .content__titles:after {
      display: block;
      position: relative;
      content: '';
      border-top: 2px solid #5bd9b3;
      width: 30%;
      margin-top: 10px;
      opacity: 0.5; }
  .content .content__titles.white {
    color: #fff; }
  .content .content__subtitles {
    font-size: 18px;
    line-height: 0.9em;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
    font-family: "Proxima Nova Lt";
    color: #8b8b8b; }
  .content .content__blanco {
    background: #fff; }
  .content .content__padding {
    padding: 70px 0; }
  .content .content__big {
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-size: 52px;
    font-family: "Merriweather Light";
    line-height: 1.5em; }
    .content .content__big strong {
      font-family: "Merriweather"; }
  .content .content__headling {
    position: relative;
    margin: 0 auto;
    font-size: 21px;
    font-family: "Merriweather Light";
    line-height: 1.7em; }
    .content .content__headling strong {
      font-family: "Merriweather"; }
  @media (max-width: 768px) {
    .content .content__big {
      font-size: 42px; } }
  @media (max-width: 700px) {
    .content .content__big {
      font-size: 28px; }
    .content .content__titles {
      font-size: 36px;
      width: 80%;
      line-height: 1em; }
    .content .content__subtitles {
      font-size: 16px; }
    .content .content__headling {
      font-size: 18px; }
    .content p {
      font-size: 15px; } }
  .content .linear {
    position: relative;
    display: inline-block;
    margin: 40px auto 0;
    font-size: 22px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 100%;
    background: #5bd9b3;
    color: #fff; }
    .content .linear:hover {
      background: #DE19FF; }

.slider {
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: relative; }
  .slider li.slider__item {
    display: block;
    width: 100%;
    height: 100%; }
    .slider li.slider__item img {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: auto; }

/* fin layout elements */
