@font-face {
  font-family: 'Avenir LT Std 35 Light';
  src: url('AvenirLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AvenirLTStd-Light.woff') format('woff'), /* Modern Browsers */
       url('AvenirLTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AvenirLTStd-Light.svg#a3894d49b0c62da6d619d8a85ab36753') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Futura PT Bold';
  src: url('FuturaPTBold.eot'); /* IE9 Compat Modes */
  src: url('FuturaPTBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaPTBold.woff') format('woff'), /* Modern Browsers */
       url('FuturaPTBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaPTBold.svg#43b93404d321656514b350462a3f7807') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('Mark Simonson - Proxima Nova Light.eot'); /* IE9 Compat Modes */
  src: url('Mark Simonson - Proxima Nova Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Mark Simonson - Proxima Nova Light.woff') format('woff'), /* Modern Browsers */
       url('Mark Simonson - Proxima Nova Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Mark Simonson - Proxima Nova Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Merriweather Light';
  src: url('Merriweather Light.eot'); /* IE9 Compat Modes */
  src: url('Merriweather Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Merriweather Light.woff') format('woff'), /* Modern Browsers */
       url('Merriweather Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Merriweather Light.svg#b6f98031c84bfae5267fe1b71e595e63') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Merriweather';
  src: url('Merriweather-Regular.eot'); /* IE9 Compat Modes */
  src: url('Merriweather-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Merriweather-Regular.woff') format('woff'), /* Modern Browsers */
       url('Merriweather-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Merriweather-Regular.svg#18adc797b789f73d4056c4e4a6cc7d89') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

